.panel-comment {
  border-color: #ddd;
  margin-top:5px;
  margin-bottom:5px;
}
.panel-comment > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #aaa;
  padding:5px;
  padding-left:8px;
  cursor:pointer;
  font-size:12px;
}
.panel-title {
  font-size:13px;
}
.panel-comment > .panel-body {
  font-size:13px;
  padding:5px;
}
.panel-comment > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #aaa;
}
.panel-comment > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-comment > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #aaa;
}
.comment-nav {
  margin-top:5px;
  color:#a5a4b3;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.uservote {
	color:#ddd;
}